SECRET_KEY=ganti_dengan_secret_key_produksi
DEBUG=True

# Format: postgres://user:password@host:port/database?sslmode=require
DATABASE_URL=postgres://user:password@host:5432/dbname?sslmode=require

# Dapat dari dashboard Cloudinary
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

